/*****
ANIMATION BEHAVIOR
/*****

/* DISCOVER ANIMATION */

.cat
  animation-name: wobble
  animation-timing-function: ease-in
  animation-duration: 3.5s
  animation-iteration-count: infinite

.tetris
  animation-name: tetris
  animation-timing-function: ease-in
  animation-duration: 3.5s
  animation-iteration-count: infinite

.react
  animation-name: spin
  animation-timing-function: ease-in
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite
  animation-direction: normal

.note1
 animation-name: tilt
 animation-timing-function: ease-in
 animation-duration: 3.5s
 animation-fill-mode: forwards
 animation-iteration-count: infinite
 animation-direction: normal

.note2
 animation-name: tilt-inv
 animation-timing-function: ease-in
 animation-duration: 3.5s
 animation-fill-mode: forwards
 animation-iteration-count: infinite
 animation-direction: normal


@keyframes tilt
  0%
    transform: rotate(0deg)
    transform-origin: 93.03px 27.8px
  75%
    transform: rotate(0deg)
    transform-origin: 93.03px 27.8px
  77%
    transform: rotate(5deg)
    transform-origin: 93.03px 27.8px

@keyframes tilt-inv
  0%
    transform: rotate(0deg)
    transform-origin: 111.34px 3.83px  
  75%
    transform: rotate(0deg)
    transform-origin: 111.34px 3.83px
  80%
    transform: rotate(-5deg)
    transform-origin: 111.34px 3.83px

@keyframes tetris
  0%
    transform: rotate(0deg)
    transform-origin: 20.74px 84.24px
  20%
    transform: rotate(0deg)
    transform-origin: 20.74px 84.24px
  30%
    transform: rotate(90deg)
    transform-origin: 20.74px 84.24px
  40%
    transform: rotate(90deg)
    transform-origin: 20.74px 84.24px
  50%
    transform: rotate(180deg)
    transform-origin: 20.74px 84.24px
  60%
    transform: rotate(180deg)
    transform-origin: 20.74px 84.24px
  70%
    transform: rotate(270deg)
    transform-origin: 20.74px 84.24px
  80%
    transform: rotate(270deg)
    transform-origin: 20.74px 84.24px
  90%
    transform: rotate(360deg)
    transform-origin: 20.74px 84.24px
  100%
    transform: rotate(360deg)
    transform-origin: 20.74px 84.24px

@keyframes wobble
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(1deg)
  40%
    transform: rotate(0deg)

@keyframes spin
  0%
    transform: rotate(0deg)
    transform-origin: 48.5px 27.839281px
  60%
    transform: rotate(30deg)
    transform-origin: 48.5px 27.839281px
  100%
    transform: rotate(0deg)
    transform-origin: 48.5px 27.839281px


/* CREATORS ANIMATION */

/* @keyframes duration | timing-function | delay | 
iteration-count | direction | fill-mode | play-state | name */

.animationPath
  stroke-dasharray: 1000
  stroke-dashoffset: 1000
  animation-name: dash
  animation-timing-function: linear
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.browser
  opacity: 0
  animation-name: appear-create
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.sparkles
  opacity: 0
  animation-name: appear-create
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

/* keyframes */

@keyframes appear-create
  0%  
    opacity: 0
  12%  
    opacity: 0
  13%
    opacity: 1
  90%
    opacity: 1
  100% 
    opacity: 0

@keyframes dash
  0%
    stroke-dashoffset: 1000
  50%
    stroke-dashoffset: 0
  100%
    stroke-dashoffset: 1000


/* TEAMS ANIMATION */
/* users */
.user2
  opacity: 0
  animation-name: appear-user2
  animation-timing-function: ease-in
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.user3
  opacity: 0
  animation-name: appear-user3
  animation-timing-function: ease-in
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite


/* lines */

.user2Line1
  transform: scale(0,1)
  animation-name: code-user2-line1
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.user2Line2
  transform: scale(0,1)
  animation-name: code-user2-line2
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.user3Line1
  transform: scale(0,1)
  animation-name: code-user3-line1
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

/* shapes */
.user2Shape
  opacity: 0
  animation-name: appear-user2-shape
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite

.user3Shape
  opacity: 0
  animation-name: appear-user3-shape
  animation-duration: 3.5s
  animation-fill-mode: forwards
  animation-iteration-count: infinite


@keyframes appear-user2
  0%  
    opacity: 0
  5%  
    opacity: 0
  10%
    opacity: 1
  95%
    opacity: 1
  100%
    opacity: 0


@keyframes code-user2-line1
  0%
    transform: scale(0,1)
  10%
    transform: scale(0,1)
  25%
    transform: scale(1,1)
  100%
    transform: scale(1,1)
  
@keyframes code-user2-line2
  0%
    transform: scale(0,1)
  25%
    transform: scale(0,1)
  40%
    transform: scale(1,1)
  100%
    transform: scale(1,1)
  


@keyframes appear-user2-shape
  0%
    opacity: 0
  40%
    opacity: 0
  45%
    opacity: 1
  95%
    opacity: 1
  100%
    opacity: 0

@keyframes appear-user3
  0%  
    opacity: 0
  45%  
    opacity: 0
  55%
    opacity: 1
  95%
    opacity: 1
  100%
    opacity: 0


@keyframes code-user3-line1
  0%
    transform: scale(0,1)
  55%
    transform: scale(0,1)
  
  65%
    transform: scale(1,1)
  
  100%
    transform: scale(1,1)
  


@keyframes appear-user3-shape
  0%
    opacity: 0
  
  65%
    opacity: 0
  
  70%
    opacity: 1
  
  95%
    opacity: 1
  
  100%
    opacity: 0
  


/* https://stackoverflow.com/a/31819499/1720985 */
@keyframes code
  100%
    transform: scale(1,1)
  

/* For > large displays, only show animations on hover
*/
@media(min-width: 900px)
  a:not(:hover) .animation
    animation: none !important
    -webkit-animation: none !important
   
  /* overrides for code animation */
  .animationPath
    stroke-dashoffset: 1
  
  .browser, .sparkles
    opacity: 1
  
  /* overrides for team animation */
  .user2, .user3, .user2Shape, .user3Shape
    opacity: 1
  
  .user2Line1, .user2Line2, .user3Line1
    transform: scale(1,1)

/* Don't animate SVGs if the user has turned on prefers reduced motion in system-wide preferences
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
*/

@media(prefers-reduced-motion: reduce)
  .animation 
    animation: none !important
    -webkit-animation: none !important
  
  /* overrides for code animation */
  .animationPath
    stroke-dashoffset: 1
  
  .browser, .sparkles
    opacity: 1
  
  /* overrides for team animation */
  .user2, .user3, .user2Shape, .user3Shape
    opacity: 1
  
  .user2Line1, .user2Line2, .user3Line1
    transform: scale(1,1)    
  


