@import './constants.styl'

largeBannerHeight = 440px

.unmarked
  position: relative
  z-index: 1
  
.banner
  display: flex
  flex-direction: column
  align-items: center
  color: white  
  border-radius: u2
  padding: u4 0px
  // @media(min-width: mediumViewport)
  //   flex-direction: row
  //   justify-content: flex-end
  //   align-items: center
  //   padding: u4 0px
    
.bannerCopyContainer
  width: 100%
  // max-width: 440px
  padding-top: 11% // max 50px
  padding-left: 14% // max 65px
  background-position: top center
  background-repeat: no-repeat
  background-size: contain
  background-image: url('https://cdn.glitch.com/2aa144c0-3b44-4c7a-ba20-0de53e442ea7%2Fbanner-small.svg?v=1560449705287')
  // @media(min-width: mediumViewport)
  //   background-image: url('https://cdn.glitch.com/2aa144c0-3b44-4c7a-ba20-0de53e442ea7%2Fbanner-large.svg?v=1560449704812')
    
.bannerCopy
  padding-bottom: u3
  // max-width: 360px
  h1
    font-size: 6vw
    margin: 0
    transform: rotate(-5deg)
  p
    margin: u4 0 u4 u4
    width: 60%
  // @media(min-width: mediumViewport)
  //   top: 37px
  //   padding-bottom: 0
  //   padding-right: u4
  //   p
  //     margin: u3 u5
  //     width: 190px
  
.bannerBtnWrap
  margin-left: 120px
  
.watchVideoBtnWrap
  display: block
  margin: u3 0
  @media(min-width: mediumViewport)
    display: none

.bannerVideoWrap
  background: white
  z-index: 1
  @media(min-width: mediumViewport)
    width: 55%
    margin: "-%s 0" % u5
    border-radius: u1    
  @media(min-width: largeViewport)
    width: 60%
  svg, video
    width: 100%
    display: block
    margin: 0
  
.bannerVideo
  position: relative
  overflow: hidden
  border-radius: 0 0 u1 u1
.bannerVideoButtonWrap
  pointer-events: none
  position: absolute
  text-align: center
  width: 100%
  bottom: 0
  left: 0
  padding-bottom: u4
  
  