@import './constants.styl'

maxBannerWidth = 500px

.unmarked
  position: relative
  z-index: 1
  
.banner
  display: flex
  flex-direction: column
  align-items: center
  color: white  
  border-radius: u2
  padding: u4 0px
  svg, video
    width: 100%
    display: block
    margin: 0
  @media(min-width: largeViewport)
    flex-direction: row
    padding: u4 0px
    justify-content: flex-start
    
.bannerCopyContainer
  width: 100%
  max-width: 440px
  padding-top: 11%
  padding-left: 14%
  padding-bottom: u3
  background-position: top center
  background-repeat: no-repeat
  background-size: contain
  background-image: url('https://cdn.glitch.com/2aa144c0-3b44-4c7a-ba20-0de53e442ea7%2Fbanner-small.svg?v=1560449705287')
  h1
    font-size: 6vw
    margin: 0
    transform: rotate(-5deg)
  p
    font-size: 3.4vw
    line-height: 1.2
    text-shadow: 1px 1px #6356C7

  @media(min-width: maxBannerWidth)
    margin-bottom: "-%s" % u4
    min-height: 400px
    padding-top: 45px
    padding-left: 50px
    h1
      font-size: t6
    p
      font-size: t3
  @media(min-width: largeViewport)
    flex: 0 0 440px
    background-image: url('https://cdn.glitch.com/2aa144c0-3b44-4c7a-ba20-0de53e442ea7%2Fbanner-large.svg?v=1560449704812')
    
.bannerCopyAndButtons
  position: relative
  margin: u3 25% u3 30%
  @media(min-width: largeViewport)
    left: -10px
    margin: u3 auto
    width: 180px
  
.watchVideoBtnWrap
  display: block
  margin: u3 0
  @media(min-width: largeViewport)
    display: none

.bannerVideoWrap
  flex: 1 1 auto
  z-index: 1
  border-radius: u1
  display: none
  @media(min-width: largeViewport)
    display: block
  
.bannerVideo
  position: relative
  overflow: hidden
  border-radius: 0 0 u1 u1
  cursor: pointer
.bannerVideoButtonWrap
  pointer-events: none
  position: absolute
  text-align: center
  width: 100%
  bottom: 0
  left: 0
  padding-bottom: u4
  
  