u0 = 2px
u05 = 4px
u1 = 5px
u2 = 10px
u3 = 16px
u4 = 32px
u5 = 50px

t1 = 12px
t2 = 14px
t3 = 16px
t4 = 20px
t5 = 23px
t6 = 28px

fg0 = #222
fg1 = #555

bg0 = #fff
bg1 = #f6f6f6
bg2 = #e5e5e5

tertiary = #636363

smallViewport = 414px
mediumViewport = 670px
largeViewport = 900px

