u0 = 2px
u05 = 4px
u1 = 5px
u2 = 10px
u3 = 16px
u4 = 32px
u5 = 50px

t1 = 12px
t2 = 14px
t3 = 16px
t4 = 20px
t5 = 26px
t6 = 30px

fg0 = #222
fg1 = #555

bg0 = #fff
bg1 = #f6f6f6
bg2 = #e5e5e5

tertiary = #636363

mediumViewport = 670px
largeViewport = 900px
smallViewport = 414px

.h2
  font-size: t5
  margin: 0 0 u3
  
.h3
  font-size: t4
  margin: 0 0 u3
  font-weight: 600
  
.h4
  font-size: t3
  font-weight: 600

section
  margin-top: 5em 
  
.mark
  display: inline-block
  transform: rotate(-1deg)
  position: relative
  left: "-%s" % u1
  z-index: 0
  background-color: var(--mark-color)
  padding: u0 u1
  border-radius: u1
.markText
  position: relative
  display: inline-block
  transform: rotate(1deg)  
  
.unmarked
  position: relative
  z-index: 1
  
.banner
  display: flex
  flex-direction: column
  align-items: flex-start
  color: white
  background-image: url('https://cdn.glitch.com/fea4026e-9552-4533-a838-40d5a5b6b175%2Fbanner-background.svg?v=1560047426711')
  background-size: cover
  background-position: left
  border-radius: u2
  padding: u4
  margin-top: u2
  
  @media(min-width: mediumViewport)
    padding: u4 u5
  
.bannerCopy
  padding-bottom: u3
  h1
    font-size: t6
    margin: 0
  p
    margin: u3 0
  
.bannerVideoWrap
  width: 120%
  max-width: 600px
  min-width: 300px
  
.bannerVideoChrome
  background-image: url("https://cdn.glitch.com/fea4026e-9552-4533-a838-40d5a5b6b175%2Fbrowser.svg?v=1559921448670")
  background-size: contain
  background-repeat: no-repeat
  box-shadow: 4px 4px #c3c3c3
  border: 1px solid #c3c3c3
  border-radius: u1
  width: 100%
  height: 0
  padding-bottom: 75%
  position: relative
  
.bannerVideoInnerWrap
  position: absolute
  width: 100%
  bottom: 0
  padding: u3
  background: white

.bannerVideo
  background-color: #666
  padding-bottom: 56%
  
@media (min-width: largeViewport)
  .banner
    flex-direction: row
    justify-content: flex-end
    align-items: center
    margin: u5 0
  .bannerCopy
    padding-bottom: 0
    padding-right: u4
  .bannerVideoWrap
    min-width: 400px
    width: 80%
    margin: "-%s 0" % u5
    
.featureCalloutsRow
  --gap: u4
  margin-left: auto
  margin-right: auto
  li
    margin-bottom: 2em

.plainLink
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: none
    
.featureCalloutsContainer
  margin-top: 1em
    
.featureCalloutsImageWrap
  height: 165px
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  display: flex
  align-items: center
  justify-content: center
    
.featureCalloutsImage
  margin-top: -10px
  width: 90%
  max-width: 275px
  max-height: 100%
  display: block
  
.featureCalloutsText
  margin-top: "-%s" % u4
  h2
    font-size: t3
    font-weight: 600
  
.unifiedStories
  display: flex
  flex-direction: column
  background-color: bg2
  border-radius: u1
  padding: u4
  
.unifiedStoriesFeatureLabel
  display: inline-block
  padding: u05 u05 0
  border-radius: u05
  text-transform: uppercase
  background-color: #FFE100
  font-weight: bold
  font-size: t1
  margin-bottom: u4
  
.unifiedStoriesHeadline
  h2
    font-size: t5
    margin: 0
  h2 + h2
    margin-top: u4
  img
    width: 100%
    margin: u4 0
  
.unifiedStoriesPreview
  margin-right: u4
  h3
    font-size: t5
  p
    line-height: 1.4

.unifiedStoriesRelatedContent
  margin-top: u3
  ul
    margin: 0
    padding: 0
    list-style-type: none
  h3
    text-transform: uppercase
    font-size: t1
    margin-bottom: u3
  h4
    margin: 0
  p
    margin: 0 0 u1
    font-size: t2

@media (min-width: largeViewport)   
  .unifiedStories
    flex-direction: row
    align-items: flex-start
    flex-wrap: wrap
  .unifiedStoriesHeadline
    flex: 0 0 300px
    margin-right: u4
  .unifiedStoriesPreview
    flex: 1 1 100px
    margin-top: u4
  .unifiedStoriesRelatedContent
    margin-top: u5

@media (min-width: mediumViewport) and (max-width: largeViewport)
  .unifiedStories
    flex-direction: row
    align-items: flex-start
    flex-wrap: wrap
  .unifiedStoriesHeadline
    margin-right: u4
    flex: 0 0 100%
  .unifiedStoriesPreview
    flex: 1 1 300px
  .unifiedStoriesRelatedContent
    flex: 0 0 180px
    
.featuredEmbed
  margin: 0
    
.featuredEmbedWrap
  height: 80vh
  max-height: 500px
  margin-bottom: "-%s" % u3
  
.featuredEmbedCaption
  padding: u4 u3 u3
  background-color: bg1
  display: flex
  flex-direction: column
  border-radius: u1

.featuredEmbedText
  flex: 1 0 auto
  margin-bottom: u3
  h4
    margin-top: 0
  p
    margin: 0
  p + p
    margin-top: u1
  
@media (min-width: mediumViewport)
  .featuredEmbedCaption
    flex-direction: row
  .featuredEmbedProfileWrap
    flex: 0 0 u5

.appsWeLoveContainer
  margin-top: 2em
  h4
    margin: u1 0 u05
    font-size: t3
  p
    margin: 0
    color: fg1
    
.appsWeLoveRow, .curatedCollectionRow
  --gap: u3

.curatedCollectionsContainer
  margin-top: 2em

.curatedCollectionContainer
  position: relative
  border-radius: u1
  padding: u3
  overflow: hidden
  display: flex
  height: 100%
  
.curatedCollectionTexture
  position: absolute
  transform: rotate(12deg)
  height: 120%
  right: u4
  top: -20px
  
.curatedCollectionText
  z-index: 1
  flex: 1 1 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  margin-right: 20px
  a
    white-space: nowrap
  h4
    margin: 0 0 u3
  p
    font-size: t2
    flex: 1 0 auto

.curatedCollectionUsers
  flex: 1 0 40%
  max-width: 200px
  max-height: 200px
  position: relative
  @media (min-width: mediumViewport)
    flex: 1 0 30%
  
.userMask
  height: 100%
  max-height: 200px
  position: relative
.userMaskBubbleWrap
  position: absolute
.userMaskBubble
  border-radius: 50%
  background-size: cover
  padding-bottom: 100%
  
.fourBlock
  --gap: u1
  --min-width: 200px

.cultureZineRow
  --min-width: 180px
  
.cultureZineImageWrap
  padding: 0 0 53%
  height: 0
  
.cultureZineText
  margin-top: -15%
  padding: 12px
  padding-top: 20%
  width: 90%
  margin-left: auto
  margin-right: auto  
  border-radius: u1
  background-color: bg1

  h4
    margin: u1 0
  p
    margin: 0  
    color: tertiary
.buildingOnGlitchRow
  display: flex
  flex-direction: column
  margin: "-%s" % u1
  img
    height: 25%
    width: auto
  a
    display: block
    margin: u1
  h3
    font-size: t4

@media (min-width: mediumViewport)
  .buildingOnGlitchRow
    flex-direction: row
    a
      width: 50%

.previewBanner
  background-color: yellow
  padding: u4 u3
  display: flex
  flex-flow: row wrap
  align-items: center
  margin-top: u1
  p
    margin: 0
    flex: 1 0 auto
    font-size: t4
    font-weight: bold
  & > *
    margin-left: u1
    
    
