u05 = 4px
u1 = 8px
u2 = 16px
u3 = 32px
u4 = 64px
u5 = 128px

t1 = 12px
t2 = 14px
t3 = 16px
t4 = 18px
t5 = 24px
t6 = 32px

bg0 = #fff
bg1 = #f6f6f6
bg2 = #e5e5e5

breakpoint = 800px

:global img[src=""]
  border: 1px solid #ccc

.banner
  display: flex
  flex-direction: column
  align-items: center
  color: white
  background-color: purple
  border-radius: u2
  padding: u3
  
.bannerCopy
  max-width: 400px
  padding-bottom: u2
  h1
    font-size: t6
    margin: 0
  p
    margin: u1 0
  
.bannerVideoWrap
  width: 100%
  max-width: 600px
  
.bannerVideo
  background-color: lightblue
  border-radius: u1
  width: 100%
  height: 0
  padding-bottom: 75%
  
@media (min-width: breakpoint)
  .banner
    flex-direction: row
    justify-content: flex-end
    margin: u4 0
  .bannerCopy
    padding-bottom: 0
    padding-right: u3
  .bannerVideoWrap
    margin: "-%s 0" % u4
    
.featureCalloutsRow
  --gap: u1

.plainLink
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: none
    
.featureCalloutsImage
  width: auto
  height: 200px
  margin-bottom: "-%s" % u1
  display: block
  
.unifiedStories
  display: flex
  flex-direction: column
  background-color: bg2
  border-radius: u1
  padding: u2
  
.unifiedStoriesFeatureLabel
  display: inline-block
  padding: u05 u05 0
  border-radius: u05
  text-transform: uppercase
  background-color: yellow
  font-weight: bold
  font-size: t1
  margin-bottom: u3
  
.unifiedStoriesHeadline
  white-space: pre-line
  h2
    font-size: t6
    margin: 0
  
.unifiedStoriesPreview
  padding: u2 0

.unifiedStoriesRelatedContent
  ul
    margin: 0
    padding: 0
    list-style-type: none
  h3
    text-transform: uppercase
    font-size: t1
    margin-bottom: u2
  h4
    margin: 0
  p
    margin: 0 0 u1
    font-size: t2
  
@media (min-width: breakpoint)
  .unifiedStories
    flex-direction: row
    align-items: center
  .unifiedStoriesHeadline
    flex: 1 1 35%
  .unifiedStoriesPreview
    padding: 0 u3 0 u4
    flex: 1 1 40%
  .unifiedStoriesRelatedContent
    flex: 1 1 25%
    
.featuredEmbed
  margin: 0
    
.featuredEmbedWrap
  height: 80vh
  max-height: 500px
  margin-bottom: "-%s" % u2
  border-radius: u2
  
.featuredEmbedCaption
  padding: u3 u2 u2
  background-color: bg1
  display: flex
  flex-direction: column

.featuredEmbedText
  flex: 1 0 auto
  
@media (min-width: breakpoint)
  .featuredEmbedCaption
    flex-direction: row
  .featuredEmbedProfileWrap
    flex: 0 0 u4

.appsWeLoveContainer
  h4
    margin: u1 0
    
.appsWeLoveRow
  --gap: u1

.fourBlock
  --gap: u1
  --min-width: 200px
  
.cultureZineText
  margin-top: "-%s" % u3
  padding: u3 u1 u1
  border-radius: u1
  background-color: bg1