@import "../constants.styl"

.popoverWrap
  position: absolute
  width: 255px
  &.right
    right: 0
  &.left
    left: 0
  &.topLeft
    left: 0
    bottom: 100%
  &.topRight
    right: 0
    bottom: 100%
  &.wide
    width: 350px !important
  
.popover
  position: relative
  margin: 0
  padding: 0
  display: block
  width: 100%
  text-align: left
  background-color: primary-background
  font-size: 14px
  cursor: initial
  border-radius: 3px
  border: 1px solid secondary
  box-shadow: pop-shadow
  z-index: 10

.popoverSection
  margin: 0
  button
    margin-bottom: 0 !important
  &.primary
    color: primary
    background-color: primary-background
  &.secondary
    color: primary
    background-color: secondary-background
  &.dangerZone
    color: primary
    background-color: warning-background
    
.popoverSection:not(:first-child)
  border-top: 1px solid secondary
    
.popoverActions,
.popoverInfo,
.popoverTitle
  padding: 14px 12px
    
.popoverWithButtonWrap,
.popoverMenuWrap
  position: relative
  
.buttonWrap button
  margin: 0 !important
  
.popoverTitle
  display: flex
  align-items: center
  font-weight: bold

.backArrow
  padding: 0 3px 3px
  border-radius: 3px
  opacity: 0.7
.popoverTitle:hover .backArrow
  background-color: section-line

.infoDescription
  margin: 0
.infoDescription + .infoDescription
  margin-top: 1rem
  
.actionDescription
  line-height: 17px
  margin: 0
.actionDescription + .actionDescription
  margin-top: 1rem

.arrowPadding
  padding: 10px 10px 8px
  border-radius: 5px
  display: block
  &:hover
    background-color: section-line
      
.downArrow
  background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fdown-arrow.svg")
  width: 10px
  height: 8px
  opacity: 0.4
  background-repeat: no-repeat
  display: block
  
.arrowPadding:hover .downArrow
  opacity: 1
  
.popoverMenuWrap .popoverWrap
  width: fit-content
  
.popoverButtonContent
  white-space: nowrap !important

.menuButtonWrap + .menuButtonWrap
  margin-top: 8px
