@import "../constants.styl"

.popoverWrap
  position: absolute
  width: 255px
  &.right
    right: 0
  &.left
    left: 0
  
  &.wide
    width: 350px
  
.popover
  position: relative
  margin: 0
  padding: 0
  display: block
  width: 100%
  text-align: left
  background-color: primary-background
  font-size: 14px
  cursor: initial
  border-radius: 3px
  border: 1px solid secondary
  box-shadow: pop-shadow
  z-index: 10

.popoverSection
  border-top: 1px solid secondary
  margin: 0
  padding: 0
  &:first-child
    border-top: none
  &.primary
    color: primary
    background-color: primary-background
  &.secondary
    color: primary
    background-color: secondary-background
  &.dangerZone
    color: primary
    background-color: warning-background
    
    
