@import '../constants.styl'

.moreByLinkWrap a
  color: primary
  text-decoration: none
  &:hover
    text-decoration: underline

// http://www.heydonworks.com/article/the-flexbox-holy-albatross-reincarnated
.collectionsContainer
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  --margin: 10px
  --modifier: calc(750px - 100%)
  margin: calc(var(--margin) * -1)
  & > li
    flex-grow: 1
    flex-basis: calc(var(--modifier) * 999)
    margin: var(--margin)

.createCollectionButtonWrap
  margin-bottom: 1rem
    
.createFirstCollection
  display: flex
  flex-direction: row
  align-items: flex-start
  width: 100%
  // align with grids
  @media (min-width: mediumViewport)
    width: 50%
    padding-right: 10px
  @media (min-width: largeViewport)
    width: 33%

.createFirstCollectionText
  padding-left: 15px
  margin: 0
    



  