@import '../constants.styl'

.moreByLinkWrap a
  color: primary
  text-decoration: none
  &:hover
    text-decoration: underline

.collectionsContainer
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  grid-gap: 10px
  list-style-type: none
  margin: 0
  padding: 0

.createCollectionButtonWrap
  margin-bottom: 1rem
    
.createFirstCollection
  display: flex
  flex-direction: row
  align-items: flex-start
  width: 100%
  // align with grids
  @media (min-width: mediumViewport)
    width: 50%
    padding-right: 10px
  @media (min-width: largeViewport)
    width: 33%

.createFirstCollectionText
  padding-left: 15px
  margin: 0
    



  