@import '../constants.styl'

.moreByLinkWrap a
  color: primary
  text-decoration: none

.createFirstCollection
  display: flex
  flex-direction: row
  align-items: flex-start
  width: 100%
  margin: 1rem 0
  // align with grids
  @media (min-width: mediumViewport)
    width: 50%
    padding-right: 10px
  @media (min-width: largeViewport)
    width: 33%

.createFirstCollectionText
  padding-left: 15px
  margin: 0
    
svg.arrow
  vertical-align: middle
  