.user
  border-radius: 50%
.team, .project
  border-radius: 5px
  &.tiny
    border-radius: 3px
    display: inline-block
.bookmark
  top: -25%
  position: relative
.avatar
  width: 32px
  height: 32px
img.tiny
  vertical-align: bottom
  width: 16px
  height: 16px