.team, .project
  &.tiny
    border-radius: 3px
.bookmark
  top: -25%
  position: relative
img.avatar
  width: 32px
  height: 32px
img.tiny
  vertical-align: bottom
  width: 16px
  height: 16px
  display: inline-block