.emoji
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain
  
  // margin-left: 0.25em
  height: 1.3em
  width: 1.3em

  &.sunglasses
    width: auto
    height: 15px

  &.inTitle
    width: 20px
    height: 20px
    margin-left: 5px
  