.emoji
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain
  
  height: 1.3em
  width: 1.3em

  &.inTitle
    width: 20px
    height: 20px
    margin-left: 5px
  
  &.facebook,
  &.google
    width: 14px
    height: 14px
  