.top
  display: flex
  align-items: center

.left
  flex: 1 0 auto
  max-width: 100%

.note
  margin-bottom: 15px
  width: 95%

.bookmarkButtonContainer
  display: block
  margin: -18px 22px 0 0
  flex: none 
  position: absolute
  top: 0
  right: 0