.top
  display: flex
  align-items: center
  justify-content: space-between

.left
  flex: 1 0 auto
  max-width: 90%

.right
  align-self: flex-end
  display: flex
  align-items: flex-start
  justify-content: flex-end
  max-width: 10%

.note
  margin-bottom: 15px
  width: 95%

.bookmarkButtonContainer
  display: block
  margin: -10px 0px 0 0