.moreCollectionsBadge
  margin: 2px 1px 0 1px
  display: inline-block
  vertical-align: middle
  // remove margin on Badge component, ideally the Badge component would not specify margin
  > *
    margin: 0
  > span
    margin-top: -4px
    padding: 2px 5px 0
