@require '../constants'

.container
  font-size: 14px

.projectItemSmall
  .linkBodySmall
    display: block
    position: relative
    background-color: section-line
    border-radius: 5px
    padding: 7px 15px
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    flex-direction: row
    &.private
      background-color: private
    &:hover
      text-decoration: underline
  .avatarWrap
    img
      width: 25px
      height: 25px
      margin-right: 12px
    p
      margin-top: 2px
      margin-bottom: 0
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
  a
    color: primary
  &:hover
    .linkBodySmall
      background-color: secondary-hover-on-color
  
.header
  margin-top: 1rem
  margin-bottom: 0.5rem
  position: relative
  z-index: 1
  
.userListContainer
  max-width: 100%
  &.spaceForOptions
    max-width: calc(100% - 30px)

.projectOptionsContainer
  position: absolute
  top: 0
  right: 0
  :global .project-options-pop-btn
    top: 0 !important
  :global .project-options
    display: block
    position: relative
    top: auto
    right: auto
  
.linkBody
  display: block
  position: relative
  color: inherit
  background-color: section-line
  border-color: section-line
  border-radius: 5px
  padding: 1rem 1rem 0.5rem
  min-height: 150px
  text-decoration: none
  &:hover
    text-decoration: none
  &:after
    content: ""
    top: -13px
    left: 8.5px
    border: solid transparent
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-bottom-color: inherit
    border-width: 7px
  &.private
    background-color: private
    border-color: private

.projectHeader
  display: flex
  align-items: flex-start

.nameWrap
  padding-left: 0.5rem
  
.avatar
  width: 42px
  height: 42px
  border-radius: 5px
    