@require '../constants'

.container
  font-size: 14px

.projectItemSmall
  .linkBodySmall
    display: block
    position: relative
    background-color: section-line
    border-radius: 5px
    padding: 7px 15px
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    flex-direction: row
    word-break: break-word
    overflow: hidden
    &.private
      background-color: private
  .avatarWrap
    img
      display: block
      width: 25px
      height: 25px
      margin-right: 12px
      
  .projectHeader
    overflow: hidden
  p
    margin-top: 2px
    margin-bottom: 0
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  a
    color: primary
    text-decoration: none
  &:hover
    .linkBodySmall
      background-color: secondary-hover-on-color
      text-decoration: underline
      a
        text-decoration: underline
  
.header
  margin-top: 0
  margin-bottom: 0.5rem
  position: relative
  
.userListContainer
  max-width: 100%
  position: relative
  z-index: 1
  &.spaceForOptions
    max-width: calc(100% - 87px)

.projectOptionsContainer
  position: absolute
  top: 0
  right: 0
  
.linkBody
  display: block
  position: relative
  color: inherit
  background-color: section-line
  border-color: section-line
  border-radius: 5px
  padding: 1rem 1rem 0.5rem
  min-height: 150px
  text-decoration: none
  word-break: break-word
  &:after
    content: ""
    top: -13px
    left: 8.5px
    border: solid transparent
    height: 0
    width: 0
    position: absolute
    pointer-events: none
    border-bottom-color: inherit
    border-width: 7px
  &.private
    background-color: private
    border-color: private
a.linkBody:hover
  text-decoration: none
  .itemButtonWrap
    box-shadow: 2px 2px 0 primary
    border-radius: 5px

.projectHeader
  display: flex
  align-items: flex-start

.nameWrap
  padding-left: 0.5rem
  
.avatar
  width: 42px
  height: 42px
  border-radius: 5px
    
.bookmarkButtonContainer
  display: block
  margin: -3px 22px 0
  flex: none 
  position: absolute
  top: 0
  right: 15px

@media (min-width: mediumSmallViewport)
  .container
    &:hover
      .bookmarkButtonContainer
        button
          opacity: 1
          transform: translateY(0px)
          
.projectsContainerNote
  margin-bottom: -1rem
  width: 90%
  &:empty
    margin-bottom: 0
    
.privateIcon
  margin-left: 5px
  margin-top: 4px
  color: private-foreground