{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "chrome": "41",
          "edge": "16"
        },
        "corejs": "runtime"
      }
    ]
  ],
  "plugins": [
    "lodash",
    "@babel/syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ],
  "sourceType": "unambiguous"
}
