build/*
styles/style.css
styles/style.css.map
*.gz
src/cache/*
src/templates/**/*.js
node_modules/*
.cache-loader
.DS_Store
*.md5
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-pnpm.json
.viminfo
.webpackCache/*
.eslintcache
.forever
.vscode
.gitconfig
.log
.data
.env
cypress/screenshots
cypress/videos