@import '../constants.styl'

.container
  margin: 0
  padding: 0
  a
    text-decoration: none
    color: primary

.link
  color: link !important


// question-item
.helpIcon
  vertical-align: middle
  width: 28px
  height: auto
  margin-left: 6px

.question
  display: block
  background-color: secondary-background-active
  padding: 8px
  border-radius: 5px

.questionAsker
  display: flex
  flex-direction: row
  align-items: center

.questionInner
  padding: 8px
  background-color: secondary-background
  border-radius: 3px

.dark
  color: white

.avatar
  border-radius: 50%
  width: 32px
  margin-right: 4px

.questionText
  margin: 8px 0
  font-size: 14px

.questionTags
  margin-bottom: -6px
  font-size: 14px

.tag
  background-color: help-tag
  border-radius: 5px
  padding: 3px 5px
  margin-right: 5px
  display: inline-block
  margin-bottom: 6px
