@import '../constants.styl'

.colorPicker
  width: 24px
  height: 24px
  padding: 0px    
  border: 1px solid input-border
  &::-webkit-color-swatch 
    border: none
  &:hover
    border: 1px solid secondary
    cursor: pointer
