@require '../constants'

.outer
  display: block

.inputBorder
  display: flex

  &.underline
    border: none;
    border-bottom: 1px solid line-on-secondary-background
    border-radius: 0
    .inputPart
      font-family: monospace

  &.opaque
    background-color: primary-background
    border: 1px solid input-border
    border-radius: 3px
    .inputPart:first-child
      padding-left: 10px
    .inputPart:last-child
      padding-right: 10px
    
.inputPart
  padding: 4px 0px 2px
  font: inherit

.errorIcon
  line-height: 1

.input
  min-width: 0
  flex-grow: 1
  background: none
  border: none
  box-shadow: none
  padding: 4px 0px 2px
  transition: all .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

  &.search
    background-image: url(search)
    background-repeat: no-repeat
    background-position: right 5px center
    @media (hover: none)
      font-size: 16px
    
.inputBorder, .input
  transition: box-shadow .1s
.inputBorder:focus-within, .input:focus
  box-shadow: 0px 0px 3px 0px input-border-focused
.inputBorder:focus-within .input:focus
  box-shadow: none
  
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}