@import '../constants'

.container
  margin-top: 5px
  margin-bottom: 5px

.meter
  width: calc(100% - 80px)
  display: inline-block
  vertical-align: -webkit-baseline-middle
  background: secondary-background

.score0
  &::-webkit-progress-value, &::-moz-progress-bar
    background-color: warning
.score1, .score2
  &::-webkit-progress-value, &::-moz-progress-bar
    background-color: notification
.score3
  &::-webkit-progress-value, &::-moz-progress-bar
    background-color: success

.word
  float: right