.coverContainer
  position: relative
  border-radius: 5px
  background-size: 100%
  background-position: center
  padding: 16px
  &.hasCoverImage
    background-repeat: no-repeat
    background-size: cover

.buttonWrap
  position: absolute
  top: 5px
  right: 5px
  button
    margin-left: 5px