@require '../constants'

.projectsGrid
  --row-gap: 20px
  --min-width: 300px
  align-items: end
  
.projectsGridCompact
  --row-gap: 20px 
  --min-width: 250px 
  align-items: end
  
.projectsRow
  --min-width: 180px
  align-items: flex-end

.projectsItem
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 100%
  
.header
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 13px
  @media (max-width: smallViewport)
    flex-wrap: wrap
    label
      flex: 100%
      margin-bottom: 15px
      margin-bottom: 15px
    
.projectsContainerNote
  margin-bottom: -1rem
  width: 95%
  &:empty
    margin-bottom: 0