@require '../constants'

.projectsGrid
  --row-gap: 20px
  --min-width: 300px
  align-items: end
  
.projectsGridCompact
  --row-gap: 20px 
  --min-width: 250px 
  align-items: end
  
.projectsRow
  --min-width: 180px
  align-items: flex-end

.projectsItem
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 100%
  
.projectsContainerNote
  margin-bottom: -1rem
  width: 90%
  &:empty
    margin-bottom: 0
    
.sorting
  .project-item
    transform: rotate(2deg)
    box-shadow: 0px 7px 6px -7px rgba(0,0,0,0.27)
    