// http://www.heydonworks.com/article/the-flexbox-holy-albatross-reincarnated
.row
  list-style-type: none
  margin: 0
  padding: 0
  display: flex
  flex-wrap: wrap
  --gap: 10px
  --min-width: 250px
  --modifier: calc((var(--min-width) * var(--item-count)) + (var(--gap) * (var(--item-count) - 1)) - 100%)
  margin: calc(var(--gap) * -0.5)

.item,
.filler
  flex-grow: 1
  flex-basis: calc(var(--modifier) * 999)
  
.item
  flex-shrink: 0
  margin: calc(var(--gap) * 0.5)
  min-width: calc(var(--min-width) - var(--gap))
  max-width: calc(100% - var(--gap))