@import '../constants.styl'

.termsAndConditions
  font-size: 13px
  color: text-on-secondary-background
  
.submitWrap
  margin-top: 10px

img.emoji
  height: 1.3em
  width: 1.3em
  vertical-align: sub