// TODO: componentize this grid layout

.collection-contents__grid,
.related-projects__grid,
.recent-projects__grid
  align-items: end

  @media (min-width: mediumViewport)
    grid-template-columns: 1fr 1fr 1fr
    > li
      min-width: 33%  

  > li
    margin-top: 2px
    min-width: 100%

.projects-container-note
  margin-bottom: -1rem
  width: 95%
  &:empty
    margin-bottom: 0