@require '../constants'
.bookmarkButton {
  border: none
  background: inherit
  position: relative
  cursor: pointer
  transition: all 0.3s
  transform: translateY(20px)
  opacity: 0
  line-height: 0
  .highlight{
    fill: none
    display: none
  }  
  .flag, .check{
    transition: all 0.15s
  }
  &:focus{
    outline: none
  }
  &:hover{
    .flag{
      stroke: tertiary
    }
    .check{
      fill: tertiary
    }
  }
}  

@media (hover: none) {
  .bookmarkButton {
    transform: translateY(0px)
    opacity: 1
  }
}
      
.visible, .focused{
  transform: translateY(0px)
  opacity: 1
}
  
.focused .highlight{
  fill: none
  display: inline
}

.halo {
  position: absolute
  top: -14px
  left: -10px
  display: none
}

.bookmark{
  width: 34px
  height: 38px
}

.check {
  position: absolute
  width: 13px
  height: 13px
  top: 9px
  left: 11px
  display: inline-block
}

.checkAnimated {
  display: inline-block
  animation: scale cubic-bezier(0, 0, 0.2, 1) 0.5s 1
}

@keyframes scale{
  0%{
    transform: scale(0)
  }
  100%{
    transform: scale(1.0)
  }
}


.haloAnimated {
  display: inline
}


.halo1{
  opacity: 0
  animation: halo-1 cubic-bezier(0, 0, 0.2, 1) 1.2s 1
}

.halo2{
  opacity: 0
  animation: halo-2 cubic-bezier(0, 0, 0.2, 1) 1.2s 1
}

.halo3{
  opacity: 0
  animation: halo-3 cubic-bezier(0, 0, 0.2, 1) 1.2s 1
}

.halo4{
  opacity: 0
  animation: halo-4 cubic-bezier(0, 0, 0.2, 1) 1.2s 1
}

.halo5 {
  opacity: 0
  animation: halo-5 cubic-bezier(0, 0, 0.2, 1) 1.2s 1
}


@keyframes halo-1{
  0%{
    opacity: 0
  }
  4%{
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@keyframes halo-2{
  0%{
    opacity: 0
  }
  4%{
    opacity: 0
  }
  8%{
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@keyframes halo-3{
  0%{
    opacity: 0
  }
  8%{
    opacity: 0
  }
  12%{
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@keyframes halo-4{
  0%{
    opacity: 0
  }
  12%{
    opacity: 0
  }
  16%{
    opacity: 1
  }
  100%{
    opacity: 1
  }  
}

@keyframes halo-5{
  0%{
    opacity: 0
  }
  16%{
    opacity: 0
  }
  20%{
    opacity: 1
  }
  100%{
    opacity: 1
  }
}

@media(prefers-reduced-motion: reduce)
  .halo1, .halo2, .halo3, .halo4, .halo5{
    animation: none !important
    -webkit-animation: none !important
  }
  .bookmarkButton{
    transition: all 0s !important
  }