.label
  margin: 0 !important //button small has a bottom margin with higher priority
  user-select: none

.input
  margin: 0
  margin-right: 4px
  vertical-align: top
  width: unset //counter some of our default input styling

