.aquarium{
  margin: 1em 0;
  width: 115px;
}

.bubble1{
  animation: bubble1-fade 4s ease-in-out infinite normal;
}

.bubble2{
  animation: bubble2-fade 4s ease-in-out infinite normal;
}

.bubble3{
  animation: bubble3-fade 4s ease-in-out infinite normal;
}

@keyframes bubble1-fade{
  0{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

@keyframes bubble2-fade{
  0%{
    opacity: 1;
  }
  70%{
    opacity: 0;
  }
  
}

@keyframes bubble3-fade{
  0%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
}