@require '../constants'

.badge
  font-family: sansserif
  font-size: 12px
  font-weight: 600
  vertical-align: top
  display: inline
  margin-left: 3px
  color: white;
  padding-top: 2px
  padding-right: 5px
  padding-bottom: 0
  padding-left: 5px
  border-radius: 5px
  background: tertiary
  &.success
    background-color: success
  &.warning
    background-color: warning
  &.error
    background-color: error
  &.private
    background-color: private
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fprivate.svg?1496253541539')
    background-repeat: no-repeat
    background-position: center
    padding: 3px 10px
    height: 20px
