@import '../constants'

.textArea
  min-height: 100px

.manualReport
  width: 100%
  min-height: 100px
  resize: none
  border: none
  padding: 4px 6px
  border-radius: 3px
  font-family: monospace
  font-size: inherit
  
.right
  text-align: right
