@import '../constants.styl'

pop-shadow = 0px 2px 5px 0px rgba(0,0,0,0.27), 0px 1px 1px 0px rgba(0,0,0,0.15)

.layout
  padding: 1rem 2rem
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 640px
  @media (max-width: smallViewport)
    padding-left: 20px
    padding-right: 20px

.logo
  width: 70px
  
.overlay
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  background: primary-background
  color: primary
  font-size: 14px
  border: 2px primary solid
  border-radius: 5px
  width: 94%
  max-width: 640px
  max-height: 85%
  height: initial
  display: block
  position: fixed
  padding: 0
  margin: 0
  box-shadow: pop-shadow
  z-index: 15
  overflow: auto

.content
  display: flex
  margin: 0
  padding: 0 12px
  color: primary
  
.title
  margin: 0
  padding: 14px 12px
  color: primary
  background-color: secondary-background
  border-bottom: 1px solid secondary
  h1
    font-size: inherit
    font-weight: bold
    margin: 0
  
.oauthSection
  display: flex
  margin: 14px 0
  flex-direction: column
  justify-content: space-between

.signInButtons
  display: flex
  flex-wrap: wrap
  
.signInButton
  margin-right: 0.5rem

.termsAndConditions
  font-size: 13px
  color: tertiary

.passwordSection
  flex-grow: 1
  border-left: 1px solid secondary

.keyImage
  padding: 14px