@import '../constants.styl'

tooltip-background = rgba(0,0,0,0.95)

.touch [data-tooltip]::after
  display: none

.tooltip-container
  position: relative
  box-sizing: border-box
  display: inline-block
