.header
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 13px
  @media (max-width: smallViewport)
    flex-wrap: wrap
    label
      flex: 100%
      margin-bottom: 15px
      margin-bottom: 15px
  
.filterResultsPlaceholder
  display: flex
  align-items: center
  margin-top: 10px
  img
    width: 60px
    margin-right: 15px