@import '../constants.styl'

.footer
  position: fixed
  right: 20px
  bottom: -15px
  z-index: 4

.invisibleButton
  cursor: pointer
  background: none !important
  border: none
  margin: 0
  padding: 0