@import "../../components/constants.styl"

.collectionContents
  padding: 20px
  background-color: secondary-background
  width: 75% // fixme


.collectionProjectContainerHeader
  margin-bottom: 1rem

.emptyCollectionHint
  margin: 25px 16px
  display: flex
  > * + *
    margin-left: 10px

.projectCount
  margin: 25px 0px 0px
  font-size: 14px
  font-weight: 600