@import '../../components/constants.styl';

u0 = 2px
u05 = 4px
u1 = 5px
u2 = 10px
u3 = 16px
u4 = 32px
u5 = 50px

html
  background: #f5f5f5

.mark
  display: inline-block
  transform: rotate(-1deg)
  position: relative
  left: "-%s" % u1
  z-index: 0
  background-color: var(--mark-color)
  padding: u0 u2
  border-radius: u1
.markText
  position: relative
  display: inline-block
  transform: rotate(1deg)
.unmarked
  position: relative
  z-index: 1
  
.main
  max-width: 900px
  margin: auto
  
.banner
  display: flex
.bannerTagline
  font-size: 30px
  transform: rotate(-2deg)
.bannerText
  background-image: url('https://cdn.glitch.com/50f784d9-9995-4fa4-a185-b4b1ea6e77c0%2Fshape-pattern.svg?v=1561146220750');
  background-repeat: no-repeat
  flex-basis: 50%
.bannerIllustration
  flex-basis: 50%