@import '../../components/constants.styl';

u0 = 2px
u05 = 4px
u1 = 5px
u2 = 10px
u3 = 16px
u4 = 32px
u5 = 50px

html
  background: #f5f5f5
.main
  max-width: 900px
  margin: auto
  
// shared
.h2
  font-size: 28px
.mark
  display: inline-block
  transform: rotate(-1deg)
  position: relative
  left: "-%s" % u1
  z-index: 0
  background-color: var(--mark-color)
  padding: u05 u2
  border-radius: u1
  line-height: 1
.markText
  position: relative
  display: inline-block
  transform: rotate(1deg)
.unmarked
  position: relative
  z-index: 1

// banner
.banner
  display: flex
  @media (max-width: mediumViewport)
    flex-wrap: wrap
.bannerText
  position: relative
  // flex-basis: 50%
  background-image: url('https://cdn.glitch.com/50f784d9-9995-4fa4-a185-b4b1ea6e77c0%2Fshape-pattern.svg?v=1561146220750')
  background-repeat: no-repeat
  background-size: contain
  width: 100%
  height: 360px
  > *
    position: absolute
    max-width: 250px
  p
    width: 250px
    left: 140px
    bottom: 100px
.bannerTagline
  left: 110px
  top: 30px
  font-size: 32px
  transform: rotate(-5deg)
.bannerIllustration
  img
    max-width: 350px
  @media (max-width: mediumViewport)
    flex-basis: 100%
    order: -1
.bannerRemixBtn
  bottom: 65px
  right: 110px
  
// what is glitch
.whatIsGlitch
  display: flex
  @media (max-width: mediumViewport)
    flex-wrap: wrap
.whatIsGlitchDescription
  max-width: 550px
  margin: 50px
  padding-right: 20px
  @media (max-width: mediumViewport)
    margin: 20px 0 0 30px
.whatIsGlitchVideo
  background: #000
  width: 700px
  height: 300px
  border: 7px solid #fff
  box-shadow: 0 0 2px rgba(0, 0, 0, .35);
  @media (max-width: mediumViewport)
    order: -1
