.container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 20px 0
  margin: -1.5em
  & > *
    margin: 1.5em
  @media(min-width: 700px)
    flex-direction: row
    padding: 10em 0
  
.emailErrorImage
  max-width: 72%
  @media(min-width: 700px)
    margin-right: -1.5em

.errorMessage
  border: 3px solid black
  border-radius: 10px
  *
    margin: 20px

.aquarium
  width: 200px