.secretPage
  position: relative
  background: url('https://cdn.glitch.com/02863ac1-a499-4a41-ac9c-41792950000f%2Fsecret.png?1535485687935'), black
  background-position: center
  background-repeat: no-repeat
  height: 768px
  margin: 0
  &:after
    content: ""
    position: fixed
    background-color: black
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: -1
  
  ul
    margin: 0
    padding: 532px 0 0
    display: flex
    justify-content: center

  button
    width: 100px
    margin: 0 6px
    text-align: center
  .lit button
     background-color: #FB994A !important

.abTestResult
  color: white
  text-align: center
  margin-top: 150px
