@import  "../../components/constants"

.teamMarketing
  border-top: 1px solid #e5e5e5
  padding-top: 1rem

.teamUrl
  color: text-on-secondary-background
  font-weight: 600
  
.forPlatformsIcon
  margin-right: 2px
  width: 46px
  vertical-align: middle

.beta
  display: inline-flex
  background-color: beta
  font-size: 12px
  font-weight: bold
  padding: 6px 12px
  padding-bottom: 2px
  user-select: none
  border-radius: 5px
  margin-bottom: 10px
  img
    padding-right: 10px
    height: 30px
  h4
    color: primary
    margin: 2px 0
  p
    margin-top: -5px
    margin-bottom: 0px 
    font-size: smaller
  &:hover
    text-decoration: underline
    
.usersInformation
  padding-bottom: 12px

.addProjectToEmptyTeam
  background-color: cta
  max-width: 325px
  border-radius: 5px
  padding: 12px
  position: relative
  margin-top: 1rem
  display: flex
  align-items: center
  img
    margin-right: 6px
    width: 90px