@import  "../../components/constants"

.container :global
  // add-team-project
  .add-project-container
    position: relative

.teamMarketing
  border-top: 1px solid #e5e5e5
  padding-top: 1rem

.teamUrl
  color: text-on-secondary-background
  font-weight: 600
  
.forPlatformsIcon
  margin-right: 2px
  width: 46px
  vertical-align: middle

.beta
  display: inline-flex
  background-color: beta
  font-size: 12px
  font-weight: bold
  padding: 6px 12px
  padding-bottom: 2px
  user-select: none
  border-radius: 5px
  margin-bottom: 10px
  img
    padding-right: 10px
    height: 30px
  h4
    color: primary
    margin: 2px 0
  p
    margin-top: -5px
    margin-bottom: 0px 
    font-size: smaller
  &:hover
    text-decoration: underline
    
.usersInformation
  padding-bottom: 12px
  // team-users
  :global
    .users
      display: inline
      margin-right: 5px
      padding: 1px 0 0;
      vertical-align: middle
    .users > li
      display: inline-grid
      margin-right: -7px
    .whitelisted-domain-container
      vertical-align: top
      margin-top: 5px
      margin-right: 5px
      margin-left: 5px
    .join-team-button
      vertical-align: top
      margin-top: 3px