.container :global 
  // projects-list
  .projects
    padding: 0
    margin-bottom: 1rem
    display: inline-block
  .projects-container
    margin-bottom: 1rem
  // collections-list
  .collections
    padding: 0