@import  "../../components/constants"

.projectContainer
  margin-bottom: 1rem
  row-gap: 1.5rem
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))

.container :global 
  // collections-list
  .collections
    padding: 0    
  .collections-container
    row-gap: 1.5rem
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
