@import  "../../components/constants"

.projectContainer
  margin-bottom: 1rem
  grid-template-columns: 1fr
  row-gap: 1.5rem	
  @media (min-width: mediumViewport)	
    grid-template-columns: 1fr 1fr	

   @media (min-width: largeViewport)	
    grid-template-columns: 1fr 1fr 1fr	


.container :global 
  // collections-list
  .collections
    padding: 0    
  .collections-container	
    row-gap: 1.5rem	
    @media (min-width: mediumViewport)	
      grid-template-columns: 1fr 1fr	

    @media (min-width: largeViewport)	
      grid-template-columns: 1fr 1fr 1fr	
