@import  "../../components/constants"

.content {
  display: flex;
  border: 1px solid #ded;
  background-color: mediumpurple;
}

.about {
  padding: 1rem;
}

.logo {
  width: 70px;
}

.whatIsGlitch {
  width: 215px;
  color: white;
}

.signIn {
  background-color: white;
  padding: 2rem;
}