@import  "../../components/constants"

.content {
  display: flex;
  border: 1px solid #ded;
}

.whatIsGlitch {
  background-color: lavender;
  flex-weight: 1;
  img {
    width: 70px;
  }
}

.signIn {
  flex-weight: 2;
}