@import  "../../components/constants"

.content {
  display: flex;
  border: 1px solid #ded;
  width: 800px;
  height: 600px;
}

.whatIsGlitch {
  background-color: mediumpurple;
  color: white;
  padding: 1rem;
  img {
    width: 70px;
    mar
  }
}

.signIn {
  padding: 2rem;
}