@import  "../../components/constants"

.project
  display: flex
  align-items: flex-start
  padding: 12px 6px
  
.projectAvatar
  flex: 0 0 22px
  
.projectInfo
  flex: 1 1 auto
  padding-left: 10px

.projectDomain
  line-height: 16px
  
.projectDescription
  color: text-on-secondary-background
  word-break: break-word
  font-family: monospace
  font-size: 12px
  line-height: 18px
  padding-top: 5px
  
a:hover .projectDescription,
button:hover .projectDescription
  color: inherit
