@import '../constants'

.accountSettings
  display: flex;
  flex-direction: row;
  
.passwordForm
  width: 50%
  label
    margin: 10px 0;
      
.passwordLength
  display: block
  margin-top: 5px
  margin-bottom: 5px
  color: tertiary