.account-settings-overlay
  form
    width: 50%
    label
      margin: 10px 0;
    .pw-strength
      display: block
      margin-top: 5px
      margin-bottom: 5px
      .note
        color: tertiary