.header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 16px
  
.logoWrap
  flex: 0 0 70px

.logo
  width: 100%

.headerActions
  flex: 1 1 auto
  text-align: right

.searchWrap
  position: relative
  width: 100%
  max-width: 250px
  margin-left: auto
  
.buttons
  padding: 0
  margin: 8px 0 0
  list-style-type: none
  
.buttonWrap
  display: inline-block
  margin-left: 8px 
