.header
  display: flex
  flex-direction: row
  justify-content: space-between

.logoWrap
  flex: 0 0 70px
  margin-right: 10px

.logo
  width: 100%

.headerActions
  flex: 1 1 auto

.searchWrap
  position: relative
  width: 100%
  max-width: 250px
  margin-left: auto
  
.buttons
  padding: 0
  margin: 8px 0 0
  list-style-type: none
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: flex-end
  
.buttonWrap
  margin-left: 10px 
