@import '../constants.styl'
    .user
      padding: 0
      display: inline-block
      padding-right: 5px
      border: none
      min-width: 48px
      img
        width: 28px
        height: auto
        position: relative
        display: inline
        vertical-align: middle
        border-radius: 50%
        margin-right: 3px

    .user-options-pop-button
      border: 0
      padding: 0
      cursor: pointer
      display: inline-block
      position: relative

.userOptionsPop
  right: 0
  top: 25px
  width: 180px
.userOptionsWrap
  display: flex
  align-items: center
  &:hover,
  &:focus
    opacity: 1
    // background-color: secondary-background-hover
    border-radius: 5px
    border: none;
    outline: transparent
.userOptionsButtonAvatar
  width: 28px
  height: 28px
  margin-right: 3px
.userAvatarContainer
  display: inline-block
  margin: 0 10px 0 0  
  width: 32px
  height: 32px
  overflow: hidden
  border-radius: 50% // TODO tbv: temporary until avatar component is deployed
.userInfo
  display: inline-block
  color: primary
  font-weight: bold
  p
    margin: 0 // TODO tbv: get rid of this once we remove margin from the <Text> component
.userLogin
  color: text-on-secondary-background
.teamAvatar
  border-radius: 3px
.checkbox
  margin-bottom: 10px
.buttonWrap
  margin-bottom: 10px