@import '../constants.styl'

.userOptionsPop
  right: 0
  top: 25px
  width: 180px
.userOptionsWrap
  display: flex
  align-items: center
  padding-right: 5px
.userOptionsButtonAvatar img
  width: 28px
  height: 28px
  margin-right: 3px
.userAvatarContainer
  display: inline-block
  margin: 0 10px 0 0  
  width: 32px
  height: 32px
  overflow: hidden
  border-radius: 50%
.userInfo
  display: inline-block
  color: primary
  font-weight: bold
.userLogin
  color: text-on-secondary-background
.checkbox
  margin-bottom: 10px
.buttonWrap
  margin-bottom: 10px
  a
    white-space: nowrap
a:hover
  text-decoration: none
  