@import '../constants.styl'

.userOptionsPop
  right: 0
  top: 25px
  width: 180px
.userAvatarContainer
  display: inline-block
  margin: 0 10px 0 0  
  width: 32px
  height: 32px
  overflow: hidden
  border-radius: 50% // TODO tbv: temporary until avatar component is deployed
.userInfo
  display: inline-block
  color: primary
  font-weight: bold
  p
    margin: 0 // TODO tbv: get rid of this once we remove margin from the <Text> component
.userLogin
  color: text-on-secondary-background
.teamAvatar
  border-radius: 3px
.checkbox
  margin-bottom: 10px
.buttonWrap
  margin-bottom: 10px