// _truly_ global styles that we intend to apply even after componentization
@import './constants'

*
  box-sizing: border-box

body
  font-family: sansserif
  color: primary
  
.emoji
  height: 1em !important
  width: 1em !important
  vertical-align: sub !important
  margin-left: 5px !important
  margin-bottom: 2px !important 
