// _truly_ global styles that we intend to apply even after componentization
@import './constants'

*
  box-sizing: border-box

body
  font-family: sansserif
  color: primary

// visually hides content while allowing it to be accessible to assistive technology (e.g., when you don't want an input label in the design even though all inputs must be labeled)  
.visuallyHidden
  border: 0 !important
  height: 1px !important
  width: 1px !important
  margin: -1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  white-space: nowrap !important
  clip: rect(1px, 1px, 1px, 1px) !important
  clip-path: inset(50%) !important
  -webkit-clip-path: inset(50%) !important
  
.emoji
  height: 1em !important
  width: 1em !important
  vertical-align: sub !important
  margin-left: 5px !important
  margin-bottom: 2px !important 
