@import '../constants.styl'

.createTeamPop
  width: 200px
.teamUrlPreview
  font-family: monospace
  font-size: 13px
  color: tertiary
  margin: 12px 0
  
img.emoji
  height: 1.3em
  width: 1.3em
  vertical-align: sub
  margin-left: 5px