@import '../../components/constants.styl';

.banner
  display: flex
  align-items: center
  margin: u2 0
  padding: u3 24px u3 u1
  border-radius: u1

.illustration
  width: 225px
  padding: u2
  img
    width: 100%

.actions
  display: inline-flex
  flex: 1
  align-items: center
  background: rgba(255, 255, 255, .875);
  padding: u3 24px u3 u3
  border-radius: u1
  
.create
  width: 235px
  margin-right: 24px
  padding: u2
  border-radius: u1
  background: #cbe9ff
  h2
    font-size: 15px
    
.explore
  flex: 1

.categoriesGrid
  grid-template-columns: repeat(3, 1fr)
  @media (min-width: hugeViewport)
    grid-template-columns: repeat(6, 1fr)