@import '../../components/constants.styl';

.banner
  display: flex
  align-items: center
  margin: u2 0
  padding: u3 u4 u3 u1
  border-radius: u1

.illustration
  flex-basis: 220px
  padding: u2
  img
    width: 100%

.actions
  display: inline-flex
  flex: 1
  align-items: center
  background: rgba(255, 255, 255, .875);
  padding: u3
  border-radius: u1
  
.create
  margin-right: u3
  padding: u2
  border-radius: u1
  background: #cbe9ff
  flex-basis: 265px
  h2
    font-size: 15px