.mark
  display: inline-block
  transform: rotate(-1deg)
  position: relative
  left: -5px
  z-index: 0
  background-color: var(--mark-color)
  padding: 5px 10px
  border-radius: 5px
.markText
  position: relative
  display: inline-block
  transform: rotate(1deg)
