@import '../constants';

.container
  border-top: 1px solid section-line
  padding-top: 2rem
  margin-top: 2rem
  margin-bottom: 2rem
  overflow: auto

.footerLine + .footerLine
  margin-top: 1rem

.bird
  display: inline-block
  vertical-align: middle
  width: 2.5rem
  margin-right: 0.3rem

.glitch-for-links
  margin-top: 1rem
