@import '../constants';

.container
  border-top: 1px solid section-line
  padding-top: 2rem
  margin-top: 2rem
  margin-bottom: 2rem
  overflow: auto

.footerLine
  display: block
  margin-bottom: 14px

.teams
  border-top: 1px solid section-line
  margin-top: 16px
  padding-top: 16px