@import '../constants';

.container
  border-top: 1px solid section-line
  padding-top: 2rem
  margin-top: 2rem
  margin-bottom: 2rem
  overflow: auto

.footerLinkWrap
  display: block
  margin-bottom: 14px
  
.footerLink
  text-decoration: none
  color: link
  img
    margin-left: .25em

.teams
  border-top: 1px solid section-line
  margin-top: 16px
  padding-top: 16px
  
.platformsIcon
  margin-right: 2px
  width: 46px
  vertical-align: middle