@import '../constants'

.container
  margin-top: 5px
  margin-bottom: 5px
  
.meter
    width: 75%
    display: inline-block
    vertical-align: -webkit-baseline-middle
  &.score-0, &.score-1, &.score-2, &.score-3, &.score-4
    background: secondary-background
  &.score-0::-webkit-progress-value
    background-color: warning
  &.score-1::-webkit-progress-value, &.score-2::-webkit-progress-value
    background-color: notification
  &.score-3::-webkit-progress-value
    background-color: success
    
.word
  float: right