@import '../constants.styl' 

.projectBadge
  display: inline-block
  width: 22px
  height: 20px
  margin-right: 4px
  border-radius: 3px
  background-position: center
  background-repeat: no-repeat
  vertical-align: middle
  &.inButton
    width: 18px
    height: 14px
  &.private
    background-color: private
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fprivate.svg?1496253541539')
  &.public
    opacity: 0.7
    background-image: url('https://cdn.glitch.com/26aa7be9-76e2-4f1c-a3e4-6a41ddcec98f%2Fpublic.svg?1528830915543')

.button
  border: 1px solid secondary
  cursor: pointer