@import '../constants.styl' 

.projectBadge
  display: inline-block
  width: 22px
  height: 20px
  margin-right: 4px
  border: 1px transparent
  border-radius: 3px
  vertical-align: middle
  >*
    left: 5px
    top: 2px
  &.private
    background-color: private
    color: private-foreground
  &.public svg
    opacity: 0.7

.button
  border: 1px solid secondary
  cursor: pointer
  >*
    left: 4px