
// old styles

.add-user-container
  position: relative
  vertical-align: top
  margin-left: 5px
  .users
    li:last-of-type
      margin-right: 0px
    img
      opacity: 0.5
  .add-user-wrap
    position: relative
  .add-user
    margin-top: 4px
    transition: all .2s
  .success
    background-color: success-background