@import '../constants.styl'

.container
  margin: 0
  padding: 0
  list-style-type: none
  display: flex
  flex-flow: row wrap
  align-items: center
  li:last-of-type
    margin-left: 10px
  
.teamMember, .invitedMember
  margin-right: -7px

.teamMember + li
  margin-left: 10px
.teamMember + li.teamMember, .invitedMember + li.invitedMember
  margin-left: 0
  
.whitelistedDomainIconWrap
  width: 32px
  text-align: center
  
.whitelistedDomain,
.addButtonWrap,
.joinButtonWrap
  margin: 0 3px
  
.invitedMember img
  opacity: 0.5
 
.invitedMember .avatar 
  display: inline-block
  vertical-align: middle
  img
    width: 44px
    height: 44px
  
.nameLoginWrap
  display: inline-block
  vertical-align: middle
  padding-left: 10px

.name,
.userLogin
  margin: 0
.name
  font-weight: bold
.userLogin
  font-weight: 600
  color: text-on-secondary-background