@import '../../constants'

.profileWrap
  display: flex
  align-items: flex-start
  max-width: 460px
  background-color: section-line
  border-radius: 5px
  padding: 12px
  &.hasTeams
    border-radius: 5px 5px 0 0
    
.avatarContainer
  flex: 0 0 35%
  
.avatar
  display: block
  padding-bottom: 100%
  position: relative
  vertical-align: top
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  &.user
    border-radius: 50%
  &.team,
  &.project
    border-radius: 5px
 
.avatarButtons    
  padding-top: 5px
  text-align: center
  button
    margin-bottom: 0 !important

.profileInfo
  flex: 1 1 auto
  padding-left: 16px
  min-width: 0
  h1, h2, p
    margin-top: 0
    margin-bottom: 12px
    &:last-child
      margin-bottom: 0
  
.teamsContainer
  background: secondary-background
  padding: 12px
  max-width: 460px
  border-radius: 0 0 5px 5px
 