.container
  background-image: linear-gradient(to right, red, white)
  padding: 10px 100px 10px 10px
  font-weight: bold
  text-align: center
    
.isDisabled
  background-image: linear-gradient(to right, lightblue, white)