@keyframes slideUp
  to
    transform: translateY(-50px)
    opacity: 0
    
@keyframes slideDown
  to
    transform: translateY(50px)
    opacity: 0

.slide-up
  animation: slideUp 3s ease-out
  animation-fill-mode: forwards
  
.slide-down
  animation: slideDown 3s ease-out
  animation-fill-mode: forwards