.new-stuff-avatar
  background-image: url('https://cdn.glitch.com/180b5e22-4649-4c71-9a21-2482eb557c8c%2Fnew-stuff-doggo-2.svg?1521578888312')

.new-stuff-footer
  position: fixed
  right: 20px
  bottom: 15px
  z-index: 4
  
  .new-stuff
    background-color: transparent
  
  .new-stuff-avatar
    width: 50px
    height: 52px
    background-size: cover
    transform: translateY(30px)
    margin: 0

.new-stuff-overlay
  .new-stuff-avatar
    width: 51px
    height: 53px
    background-size: cover
    margin: 0
    float: left
    margin-right: 8px
  .overlay-title
    margin-bottom: 8px
    display: block
      
dialog.new-stuff-overlay
  max-width: 460px