details.popover-container
  display: inline-block
  position: relative
  > summary
    list-style: none
    cursor: pointer
    &::-webkit-details-marker
      display: none
  &[open] > summary::after
    display: none
  &:not([open]) > :not(summary)
    display: none
  > .pop-over
    top: 100%
    left: 0

popover-secondary-background()
  background-color: secondary-background
  border-bottom: 1px solid secondary
  
.pop-over
  text-align: left
  background-color: primary-background
  font-size: 14px
  margin: 0
  cursor: initial
  display: block
  position: absolute
  left: initial
  border-radius: 3px
  border: 1px solid secondary
  box-shadow: pop-shadow
  z-index: 10
  width: 255px
  padding: 0
  button
    margin-left: 0
  p
    color: primary
    font-weight: normal
    margin-bottom: 10px
  section, .pop-over-section, >form
    color: primary
    padding: 14px 12px
  section, .pop-over-section
    &:first-child
      border-top-left-radius: 3px
      border-top-right-radius: 3px
    &:last-child
      border-bottom: none
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px

  .results-list
    padding: 6px
    > li 
      word-break: break-word
  
  .clickable-label
    width: 100%
    display: flex
    align-items: center
    .back
      background-color: transparent
      vertical-align: middle
      padding: 0px 4px 3px
      opacity: 0.7
      width: auto
    &:hover,
    &:focus,
    &:active
      .back
        opacity: 1
        border-radius: 5px
        border: none
    &:hover,
    &:focus
      .back
        background-color: secondary-background-hover
    &:active
      .back
        background-color: secondary-background-active
            
  .description-section
    margin: 0
    padding: 0
    padding-bottom: 4px

  .description
    margin-top: 2px
    margin-bottom: 12px

  .pop-over-info
    margin: 0
    popover-secondary-background()
    h1.pop-title 
      margin-top: 0
      margin-bottom: 0
    .pop-title
      max-width: 300px
      font-size: 14px
      font-weight: bold
      display: inline-block
      vertical-align: middle
      &.collection-title
        font-size: 12px
        margin-bottom: 10px
    &.last-section
      border-bottom: none
    .info-description
      margin-top: 0
      margin-bottom: 0
      line-height: 19px
      &.right
        text-align: right
    .tall-text
      min-height: 150px
    .label
      font-weight: bold
      font-size: 12px
      margin-bottom: 10px
      display: block      
    strong
      font-weight: 600

  .pop-over-actions
    margin: 0
    border-bottom: 1px solid secondary
    position: relative
    .action-description
      line-height: 17px
    p.tight-line 
      margin: 0

  .emoji
    display: inline-block
  .button, button
    display: block
    margin-bottom: 12px
    margin-left: 0
    max-width: initial
    width: fit-content
    &:last-child
      margin: 0
  .button-small
    margin-bottom: 10px
  .button-link
    color: #000
  button:last-child
    margin-bottom: 0
  &.last-section
    border-bottom: none

  .danger-zone
    background-color: warning-background
.sign-in-pop
  width: 205px
  right: 0
  top: 26px
  .action-description
    margin-top: 0

.user-options-pop
  right: 0
  top: 25px
  width: 180px
  .user-info
    padding-bottom: 12px
    padding-top: 12px
    img
      border-radius: 50%

.user-options-pop-checkbox
  margin-bottom: 10px
  
.create-team-pop
  right: 0
  top: 25px
  width: 200px
  .info-description
    margin: 0
  form
    margin: 0
  .team-url-preview
    font-family: monospace
    font-size: 13px
    color: tertiary
    margin-top: 12px
    margin-bottom: 12px
  .loader
    margin-left: 0
  
.user-options-pop
  section:first-child
    popover-secondary-background()
    border-radius: 0
    
  .pop-over-actions
    .user-info
      .avatar
        width: 30px
        height: 30px
      
  .pop-over-info.user-info
    .avatar
      width: 44px
      height: 44px
  .pop-over-actions.user-info, .pop-over-info.user-info
    .avatar
      border-radius: 50%
      vertical-align: middle
      margin-right: 10px
      margin-left: 0px
    .info-container
      display: inline-block
      vertical-align: middle
    
  .pop-over-info, .pop-over-actions
    .name,
    .user-login
      margin: 0
    .name
      font-weight: bold
    .user-login
      font-weight: 600
      color: text-on-secondary-background
    .thanks
      margin: 0 !important
    .button-wrap
      margin-bottom: 10px
      display: block

.delete-project-pop
  top: 25px
  left: 0px
  margin-bottom: side-padding
  .users 
    margin: 0
  .info-description
    margin-top: 10px
  .illustration
    width: 110px  
.delete-project-pop .pop-over-actions:first-of-type
  &:focus
    outline: none
