.user-avatar
  position: relative
  vertical-align: top
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  border-radius: 50%

.team-avatar
  border-radius: 5px

.anon-user-sign-up
  background: #83ffcd
  margin: 5px 0px
  padding: 12px
  border-radius: 5px
  position: relative
