.project-badge
  display: inline-block
  width: 22px
  height: 20px
  margin-right: 4px
  border-radius: 3px
  background-position: center
  background-repeat: no-repeat
  vertical-align: middle
  &.private-project-badge
    width: 18px
    height: 14px
    background-color: private
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fprivate.svg?1496253541539')
  &.public-project-badge
    opacity: 0.7
    background-image: url('https://cdn.glitch.com/26aa7be9-76e2-4f1c-a3e4-6a41ddcec98f%2Fpublic.svg?1528830915543')

.user-page,
.team-page,
.category-page
  .category
    float: none
    width: initial

.project-options
  display: none
  position: absolute
  right: 0px
  top: 4px
  padding: 10px
  padding-bottom: 8px
  background-color: white
  border-radius: 5px
  border: 0
  z-index: 1
  &:focus
    outline: transparent
    background: #efefef
    
.project-profile-list-wrap
  position: relative
  z-index: 1
  padding-bottom: 2px
  &.project--has-options
    padding-right: 30px

