@import "../constants.styl"

.container
  display: flex
  flex-direction: column
  width: 100%
  @media (min-width: largeViewport)
    flex-direction: row
    
.collectionHeader
  flex: 0 0 auto
  padding: 12px 25px
  border-radius: 5px 5px 0 0
  flex-direction: column
  @media (min-width: largeViewport)
    flex: 0 0 300px
    border-radius: 5px 0 0 5px
    
.preview .collectionHeader
  padding: 12px

.dark .collectionHeader
  color: white
  textarea
    color: inherit
  a
    color: #D2FEFF
  code
    background: #252525
    
.collectionContents
  flex: 1 1 auto
  padding: 20px
  background-color: secondary-background
  border-radius: 0 0 5px 5px
  @media (min-width: largeViewport)
    border-radius: 0 5px 5px 0
    
  article
    margin: 0;
  p
    margin-bottom: 0;
  
.imageContainer
  margin-bottom: 15px
  margin-right: 15px
  max-width: 175px
  svg
    width: 100%
    max-height: 100%
    
.preview .imageContainer
  width: 85px
  height: 75px

.name
  margin-bottom: 0
  a
    color: inherit
    
.preview .name
  font-size: 18px

.owner
  margin: 12px 0

.description
  p
    margin: 0
  > * p
    margin: 0 !important

.projectCount
  margin: 25px 0px 25px
  font-size: 14px
  font-weight: 600
  
.collectionProjectContainerHeader
  margin-bottom: 1rem
  &:empty
    margin-bottom: 0

.emptyCollectionHint
  margin: 25px 16px
  display: flex
  > * + *
    margin-left: 10px

.hint
  padding: 12px
  background: overlay-background
  border-radius: 5px
  margin: 1em 0
  line-height: 35px
  &.dark
    background:  rgba(109, 109, 109, 0.8)

.hintBody
  margin: 1em 0

.viewAll
  display: block
  font-weight: 600
  font-size: 13px
  margin-top: 1rem
  color: inherit
  &:hover
    text-decoration: underline !important  

