@import "../constants.styl"

.container
  display: flex
  flex-direction: column
  width: 100%
  @media (min-width: largeViewport)
    flex-direction: row
    
.collectionHeader
  flex: 0 0 auto
  padding: 12px 25px
  border-radius: 5px 5px 0 0
  flex-direction: column
  @media (min-width: largeViewport)
    flex: 0 0 300px
    border-radius: 5px 0 0 5px

.dark .collectionHeader
  color: white
  textarea
    color: inherit
  a
    color: #D2FEFF
    
.collectionContents
  flex: 1 1 auto
  padding: 20px
  background-color: secondary-background
  border-radius: 0 0 5px 5px
  @media (min-width: largeViewport)
    border-radius: 0 5px 5px 0
  
.imageContainer
  padding: 15px 15px 15px 0
    margin-bottom: 15px


  max-width: 175px
  svg
    width: 100%
    max-height: 100%
    
.preview .imageContainer
  padding: 0
  width: 85px
  height: 75px

.name
  margin-bottom: 0

.owner
  margin: 12px 0

.description
  p
    margin: 0
  > * p
    margin: 0 !important

.projectCount
  margin: 25px 0px 0px
  font-size: 14px
  font-weight: 600
  
.collectionProjectContainerHeader
  margin-bottom: 1rem

.emptyCollectionHint
  margin: 25px 16px
  display: flex
  > * + *
    margin-left: 10px

