.container
  width: 154px

.colorFormWrap
  display: flex
  
.hexWrap
  margin-left: 5px
  flex: 1 0 auto
  width: 0
  
img.emoji
  height: 1.3em
  width: 1.3em
  margin-left: 5px
  vertical-align: sub